
@{
    ViewBag.Title = "Configure";
}

<link href="~/Content/Custom.css" rel="stylesheet" />

<h2>Configure</h2>

<div class="container">
    <div class="row">
        <div class="span4 collapse-group">
            <h3>Connect</h3>
            <p>Provide a valid IP Address and Select Connect to begin a remote diagnostic session.</p>
            <p class="collapse" id="viewConnectDetails">
                <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
                <input type="text" placeholder="xxx.xxx.xxx.xxx" />
            </p>
            <a class="btn showdetails" data-toggle="collapse" data-target="#viewConnectDetails"></a>
        </div>
        <div class="span4 collapse-group">
            <h3>Upload CSV File</h3>
            <p>Upload a CSV File to quickly assess and/or re-configure your Xerox Device.</p>
            <p class="collapse" id="viewUploadCSVFileDetails">to</p>
            <a class="btn showdetails" data-toggle="collapse" data-target="#viewUploadCSVFileDetails"></a>
        </div>
        <div class="span4 collapse-group">
            <h3>Other Diagnostics</h3>
            <p>More Diagnostic Routines</p>
            <p class="collapse" id="viewOtherDiagDetails">you</p>
            <a class="btn showdetails" data-toggle="collapse" data-target="#viewOtherDiagDetails"></a>
        </div>
    </div>
</div>